<section class="container">
  <div class="row">
    <div class="col-lg-6">
      <form class="" action="/" method="post">
        <div class="logo">
          <img src="images/logo.png" alt="Hitachi logo">
        </div>
        <div class="text">
          <p>Search by User Id</p>
        </div>
        <div class="">
          <input class="search" type="text" name="userId" placeholder="e.g. 1" required autofocus>
          <button class="bg-red" type="submit" name="button">
            <img class="magnifier" src="images/Search.png" alt="Magnifier">
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
